
.primary button
{
-webkit-appearance: none;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
align-items: flex-start;
background-color: rgb(66, 139, 202);
background-image: none;
border-bottom-color: rgb(53, 126, 189);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(53, 126, 189);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(53, 126, 189);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(53, 126, 189);
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 45px;
letter-spacing: normal;
line-height: 23.9400005340576px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
padding-top: 10px;
text-align: center;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: uppercase;
vertical-align: middle;
white-space: nowrap;
width: 255.03125px;
word-spacing: 0px;
writing-mode: lr-tb;
zoom: 1;
Rendered Fonts
}